:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: article; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid:
    'header header header header'
    'main main main main'
    'article article article article'
    'footer footer footer footer';
    background-color: #2196F3;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1rem 0;
    font-size: 1.8rem;
  }